@mixin button() {
  border: none;
  padding: 5px 15px;
  margin-left: 20px;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  background: rgba(255, 0, 0, .5);
  box-shadow: 0 3px 0 rgba(255, 0, 0, .7);
  cursor: pointer;
  &:active {
    box-shadow: 0 0 0 rgba(255, 0, 0, .7);
    transform: translateY(3px);
    color: #ffffff;
  }
}

body {
  background-color: rgba(0, 0, 0, .02);

  .header {
    input[type=text] {
      outline: bisque;
      border: none;
      background: rgba(0,0,0,.05);
      border-radius: 5px;
      padding: 5px 10px;
    }
    button {
      @include button();
    }
  }
  .main {
    li {
      list-style-type: none;
      margin-bottom: 20px;
      span {
        margin-right: 20px;
        font-weight: bold;
      }
      button {
        @include button();
      }
    }
  }
  .footer {
  }
}